body{
  height: 100%;
  width: 100%;
}

// notice部分
.notice{
  color: $white;
  background-color: $blue;
  text-align: center;
}

// chat-side部分
.chat-side{
  height: 100vh;
  width: 300px;
  float: left;
  &__user{
    height: 15%;
    width: 100%;
    background-color: #090c10;
    position: relative;
    &-content{
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    &-name{
      color: $white;
      font-size: 20px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      display: inline-block;
    }
    &--new-group{
      color: $white;
      position: relative;
      display: inline-block;
    }
    &--edit-user{
      color: $white;
      position: relative;
      display: inline-block;
      margin-left: 90px;
    }
  }

  &__groups{
    height: 85%;
    width: 100%;
    background-color: #2f3e51;
    &-list{
      height: 100%;
      color: $white;
    }
  }

  &__group{
    padding: 20px;
    &-name{
      font-size: 15px;
      color: $white;
    }
    &-message{
      font-size: 11px;
      color: $white;
    }
  }
}

// chat-main部分
.chat-main{
  height: 100vh;
  width: calc( 100vw - 300px );
  float: left;

// chat-main__header部分
  &__header{
    height: 15%;
    border: 1px solid #eee;
    &--group{
      margin: 0 40px;
      &-name{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit-btn{
        color: $blue;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid $blue;
        float: right;
      }
    }
    &--clearfix{
      clear: both;
    }
    &-members{
      color: $gray;
      font-size: 12px;
      margin: 0 40px;
    }
  }

// chat-main__body部分
  &__body{
    height: calc( 100vh - 15% - 90px );
    overflow-y: scroll;
    &--messages-list{
      padding-top: 46px;
      padding-left: 40px;
    }
  }
  &__message{
    padding: 20px 0;
    &-name{
      color: #434A54;
      font-size: 16px;
      font-weight: bold;
      float: left;
    }
    &-time{
      color: $gray;
      font-size: 12px;
      padding: 0 10px 10px;
      float: left;
    }
    &-body{
        color: #434A54;
        clear: both;
    }

  }
  &.clearfix:after{
    clear: both;
    content:  '';
    display: block;
  }
// chat-main__footer部分
  &__footer{
    background-color: #e6e6e6;
    height: 50px;
    padding: 20px 40px;
    position: relative;
      .message{
        height: 50px;
        width: calc( 100vw - 520px);
        float: left;
        line-height: 50px;
        display: block;
        padding-left: 10px;
        padding-right: 46px;
    }
      .fa.fa-picture-o{
        color: black;
        position: absolute;
        top: 40px;
        right: 130px;
    }
    .send-button{
        background-color: $blue;
        font-size: 16px;
        color: white;
        height: 50px;
        width: 80px;
        position: absolute;
        top: 20px;
        border: none;
    }
  }
}
